<div class="admin">
  <header class="admin__header">
    <a href="#" class="logo">
      <h1>Welcome Admin</h1>
    </a>
    <div class="toolbar">
      <a routerLink='/login' class="logout">
        Log Out
      </a>
    </div>
  </header>
  <nav class="admin__nav">
    <ul class="menu">
      <li class="menu__item">
        <a class="menu__link" routerLink='/admin'>Dashboard</a>
      </li>
      <li class="menu__item">
        <a class="menu__link"  routerLink='/dataview'>Data View</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" routerLink='/ourstaff'>Our staff</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Our task</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">leave Applications</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Messages</a>
      </li>
    </ul>
  </nav>
  <main class="admin__main">
    <h2>Dashboard</h2>
    <div class="dashboard">
      <div class="dashboard__item">
        <div class="card">
          <strong>0</strong> visted us today
        </div>
      </div>
      <div class="dashboard__item">
        <div class="card">
          <strong>00</strong> visted us this week
        </div>
      </div>
      <div class="dashboard__item dashboard__item--full">
        <div class="card">
          <img src="./app/admin/Untitled.png"alt="" />
        </div>
      </div>
    </div>
  </main>
  
</div>