<p>
  <a routerLink='/login'>Login as Admin</a>
</p>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<form action="" class="contact-form">
	
	<span>Contact Us!</span>

	<ul>
		<li>
			<i class="fa fa-user form-icon"></i>
			<input type="text" placeholder="Name" />
		</li>
		<li>
			<i class="fa fa-at form-icon"></i>
			<input type="text" placeholder="Email" />
		</li>
		<li>
			<i class="fa fa-university form-icon"></i>
			<input type="text" placeholder="Organization/Academic Institution" />
		</li>
		<li>
			<i class="fa fa-phone form-icon"></i>
			<input type="text" placeholder="Phone" />
		</li>
		<li>
			<i class="fa fa-paper-plane form-icon"></i>
			<input type="text" placeholder="Subject" />
		</li>
		<li>
			<i class="fa fa-envelope form-icon"></i>
			<textarea placeholder="Message" rows="2"></textarea>
		</li>
		<li>
			<input type="submit" placeholder="Submit" />
		</li>
	</ul>
</form>
